/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*------------全体-----------*/
#wrapper {
    background-color: white;
    font-family: HiraMinPro-W6;
    color: #000000;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 200px;
    min-height: 100vh;
}

/*---------------ヘッダー--------------*/

header {
  background-image: image-url("592642.png");
  background-size:30%;
  color: #000;
	margin-bottom: 50px;
}
.header_logo {
	margin-top: 5px;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
}

.navlist_item {
	margin-top: 30px;
}

#welcom_cutoumer {
	font-family: HiraMinPro-W6;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000;
  background-color: rgba(255,255,255,0.5)
}

.header_menu {
	font-family: HiraMinPro-W6;
	color: #000;
  background-color: rgba(255,255,255,0.5)
}

.partition {
	font-family: Osaka;
	margin-top: 15px;
	color: #696969;
}

.navbar-nav {
   margin-top: 30px;
}


/*-----------body------------*/

.containar {
	padding-top: 100px;
  padding-bottom: 100px;
	background-color: white;
	min-height: 100vh;
	position: absolute;
	box-sizing: border-box;
}



/*-----------footer------------*/

footer {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
	background-image: image-url("592642.png");
  background-position: 0 95%;
  background-size:30%;
}
/*-----------top--------------*/
.namexx {
  font-family: sans-serif;
  border: 7px groove #fafad2;
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-align: center}

.introduction{
  margin : 15px.0.0.0 ;
  font-size : 25px;
  font-family: cursive
}

.int{
      text-size : 20px;
      font-family: sans-serif;
      margin : 0.0.0.60;
      }

.welcome-text {
  text-align: center;
  line-height:30px;
  font-size: 20px;
  padding-bottom: 10px;

}

.welcome-field {
}

.genre-container {
  margin-top: 50px;
}
.ec-genre-list-item {
  color: #000;
}

/*---------topスライドショー--------*/

.c{
  height: 500px;
  width :100%;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "🐾" !important;
      font-size: 14px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.registration_btn {
  margin-bottom: 10px;
}

/*--------cus/items/show--------------*/
.items-box {
  padding-top: 120px;
}